<%=%>
<!-- Heder Hero Image -->

<div class="home-slider">
	<div class="header-cta">
		<%= image_tag("home-logo.png", class: "style_image") %>
		<h1>Catmon ipsum dolor siet amet</h1>
		<a href="#" class="home-cta">Descubre más</a>
	</div>
</div>

<div class="fast-links">
	<div class="container">
		<div class="row">
			<ul>
				<li>
					<%= image_tag("tattoo-machine.svg", class: "style_image") %>
					<h2>¿Adictos a la tinta?</h2>
					<a href="#">Mira estos nuevos estudios</a>
				</li>
				<li>
					<%= image_tag("tattoo-machine.svg", class: "style_image") %>
					<h2>Conocer a otros Rayados</h2>
					<a href="#">Revisa próximos eventos</a>
				</li>
				<li>
					<%= image_tag("tattoo-machine.svg", class: "style_image") %>
					<h2>Rayadores Apasionados</h2>
					<a href="#">Checkea otros rayadores</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="tattooer-featured">
	<div class="container">
		<div class="left">
			<strong>Directo desde Brazil</strong>
			<h2>Revelación del mes</h2>
			<p>Desde Londrina nos visita nuevamente Joao Joao de 7 al 12 de Mayo, para quienes deseen tatuarse y agregar una bonita pieza a su colección aproveche de agendar.</p>
		</div>

		<div class="right">
			<h2>Joao Joao</h2>
			<a href="#">Agenda tu hora</a>
		</div>
	</div>
</div>

<div class="estudios-featured">
	<div class="container">
		<div class="estudios-left">
			<div class="img-container"></div>
			<div class="text-container">
				<span>Próximos eventos</span>
				<h2>Monster <br> Tattoo <br> Fest</h2>
				<strong>
					Prepárate para este evento sacado de la cripta. <br> Donde: Estación Mapocho, Cuando: 07 Mayo 2018
				</strong>
				<a href="#">Entradas Aquí</a>
			</div>
		</div>

		<div class="estudios-right">
			<div class="top-box">
				<div class="label">Ver Más</div>
			</div>
			<div class="bottom-box">
				<div class="label">Ver Más</div>
			</div>
		</div>
	</div>
</div>

<div class="inspirate">
	<div class="container">
		<div class="inspirate-title">
			<h1>Inspirate</h1>
		</div>

		<ul>
			<li>
				<a href="#">
					<%= image_tag("inspirate1.jpg") %>
					<h3>Flashes <br> de día</h3>
				</a>
			</li>

			<li>
				<a href="#">
					<%= image_tag("inspirate2.jpg") %>
					<h3>Prints <br> Disponibles</h3>
				</a>
			</li>

			<li>
				<a href="#">
					<%= image_tag("inspirate3.jpg") %>
					<h3>Especial <br> Tradi</h3>
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="estudios-show">
	<div class="container">
		<div class="estudios-full">
			<div class="text-container">
				<span>Próximos eventos</span>
				<h2>Monster <br> Tattoo <br> Fest</h2>
				<strong>
					Prepárate para este evento sacado de la cripta. <br> Donde: Estación Mapocho, Cuando: 07 Mayo 2018
				</strong>
				<a href="#">Entradas Aquí</a>
			</div>
			<div class="img-container"></div>
		</div>
	</div>
</div>




