<%= form_with(model: tattooer, local: true) do |form| %>
  <% if tattooer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tattooer.errors.count, "error") %> prohibited this tattooer from being saved:</h2>

      <ul>
      <% tattooer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :tattooer_name %>
  </div>

  <div class="field">
    <%= form.label :style %>
    <%= form.text_field :style, id: :tattooer_style %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :tattooer_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
