<p id="notice"><%= notice %></p>

<h1>Tattooers</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Style</th>
    </tr>
  </thead>

  <tbody>
    <% @tattooers.each do |tattooer| %>
      <tr>
        <td><%= link_to image_tag(tattooer.pictureurl), tattooer_path(tattooer) %></td>
        <td><%= tattooer.name %></td>
        <td><%= tattooer.style %></td>
<!--         <td> <%= link_to 'Perfil', tattooer_path(tattooer) %> </td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>




