<p id="notice"><%= notice %></p>

<h1>Tattooers</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Style</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @tattooers.each do |tattooer| %>
      <tr>
        <td> <%= image_tag tattooer.pictureurl %> </td>
        <td><%= tattooer.name %></td>
        <td><%= tattooer.style %></td>
        <td><%= tattooer.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


